@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;}


    .index{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-rows: 120px auto 80px;
    
    }

/*CSS HEADER*/
    header{
        color: blue;
    }

    .logo{
        grid-column: 2 / 3;
        width:60px;
        margin-right: 50px;
        border-radius: 5%;}

        .navBar{
            display: grid;
            grid-template-columns: repeat(10,1fr);
            align-items: center;
            margin: 15px;
        }

        .navBar-lista{
            grid-column: 6 / 10;
            display: flex;
            justify-content: space-between;
        }

        .navBar-lista li{
            list-style: none;
        }


        .navBar-lista li a{
            text-decoration: none;
            font-weight: bolder;
            font-size: 20px;
            color: black;
            transition: 0, 4s;
            cursor: pointer;
        }

        .ckeck-icon{
            display: none;
        }

/*FIN HEADER*/

/*CSS MAIN*/

    main{
        background-color: brown;
    }



/*FIN CSS MAIN*/

/*CSS FOOTER*/

    footer{
        background-color: #2C3333;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .Aplicaciones{
        text-align: right;
    }

/*FIN CSS FOOTER*/



@media(max-width: 475px){
    .ckeck-icon{
        display: block;
        grid-column: 10 / 11;
        font-size: 2em;
        cursor: pointer;
    }

    .navBar-lista{
        position: absolute;
        width: 100%;
        height: 30vh;
        display: grid;
        align-items: center;
        margin-top: 18em;
        transform: translate(100%);
        
    }
}