@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;}

    .grid-index-html{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-rows: 15% repeat(5,100px) auto;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
        ;

    }

/*CSS HEADER*/

    header{
        grid-area: header;
        height: 100px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .navBar{
        list-style: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        gap: 30px;
    }
    
    .navBar li a{
        text-decoration: none;
        color: #F9F9F9;
        font-size: 30px;
        font-weight: bolder;
        transition: 0, 4s;}

    .logo img{
        width:50px;
        margin-right: 50px;
        border-radius: 5%;}

/*FIN HEADER*/

/*CSS MAIN*/

    main{
        background-color: brown;
        display: grid;
    }

    .conteiner-p1{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .conteiner-p1{
        display: grid;
    }

    .conteiner-p2 {
        display: grid;
    }



/*FIN CSS MAIN*/

/*CSS FOOTER*/

    footer{
        grid-area: footer;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 9;
        background-color: #2C3333;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .Aplicaciones{
        text-align: right;
    }

/*FIN CSS FOOTER*/