@mixin grid ($col, $row, $margin, $text, $font, $color){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    margin: $margin;
    text-align: $text;
    font-size: $font;
    color: $color;
}

