@media(max-width: 768px){
    /* INICIO CSS MEDIA QUERI HEADER PARA LOS 5 HTML*/
    .navBar{
        display: grid;
        grid-template-columns: repeat(7,1fr);
    }
    .navBar-lista{
        grid-column: 4 / 7;
    }
    .navBar-lista li a{
        font-size: 18px;
    }
    /* FIN CSS MEDIA QUERI HEADER PARA LOS 5 HTML*/
    /* INICIO CSS MEDIA QUERI RESERVA.HTML (MAIN)*/
    .grid-reserva{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        height: 80vh;
    }
    .grid-reserva-1{
        grid-column: 1 / 2;
        grid-row: 2 / 2;
        font-size: 18px;
    }
    
    .grid-reserva-2{
        grid-column: 1 / 1;
        grid-row: 1 / 2;
        font-size: 18px;
    }
    /* FIN CSS MEDIA QUERI RESERVA.HTML (MAIN)*/

    /* INICIO CSS MEDIA QUERI CONTACTO.HTML (MAIN)*/
    
        
    .formulario{
        margin-top: 50px;
        width: 50%;
    }

    .ubicacion{
        margin-top: 50px;
        margin-right: 25px;
    }

    .tamaño{
        width: 350px;
    }

    /* FIN CSS MEDIA QUERI CONTACTO.HTML (MAIN)*/

    /* INICIO CSS MEDIA QUERI NOSOTROS.HTML (MAIN)*/

    .grid-nosotros-1{
        font-size: 15px;
    }
    .carousel-item{
        width: 80%;
        margin-top: 150px;
        margin-left: 40px;
    }

    /* FIN CSS MEDIA QUERI NOSOTROS.HTML (MAIN)*/


    /* INICIO CSS MEDIA QUERI FOOTER PARA LOS 5 HTML*/
    .grid-footer{
        display: grid;
        grid-template-columns: repeat(7,1fr);
    }

    .grid-footer-1 h3{
        font-size: 15px;
    }
    .grid-footer-2{
        grid-column: 6 / 8;
    }

    .toggle-menu-checkbox, .toggle-menu{
        display: none;
    }
    /* FIN CSS MEDIA QUERI FOOTER PARA LOS 5 HTML*/
}
