/* INICIO CSS MEDIA QUERI GENERAL*/
@media(max-width: 3000px){
    .toggle-menu-checkbox, .toggle-menu{
        display: none;
    }
            /* INICIO CSS MEDIA QUERI FOOTER PARA LOS 5 HTML*/

        
            .grid-footer-1 h3{
                color: white;
            }
        
            .grid-footer{
                color: white;
            }
    
            /* FIN CSS MEDIA QUERI FOOTER PARA LOS 5 HTML*/
}

/* FIN CSS MEDIA QUERI GENERAL*/

    /* INICIO CSS MEDIA QUERI NOSOTROS.HTML (MAIN)*/

        .grid-nosotros-1{
            margin-top: 150px;
        }

        .carousel-item{
            width: 80%;
            margin-top: 50px;
            margin-left: 80px;
        }

/* FIN CSS MEDIA QUERI NOSOTROS.HTML (MAIN)*/

/* INICIO CSS MEDIA QUERI CONTACTO.HTML (MAIN)*/
.formulario{
    margin-top: 90px;
    margin-left: 70px;
    width: 70%;
    color: white;
}

.grid-contacto-2{
    margin-top: 150px;
    margin-right: 50px;
}

/* FIN CSS MEDIA QUERI CONTACTO.HTML (MAIN)*/

/* INICIO CSS MEDIA QUERI RESERVA.HTML (MAIN)*/
.box-1{
    text-align: center;
    width: 95%;
}

.box-2{
    margin-top: 40px;
    width: 20%;
    text-align: center;
    }

/* DIN CSS MEDIA QUERI RESERVA.HTML (MAIN)*/