/*
body{
    div{
        .index , .nosotros , .clases , .reserva , .contacto{
            width: 100%;
            display: grid;
            grid-template-rows: 90px auto 80px;
        }
    }
    
}*/