main{
    section{
        @include grid(repeat(3, 1fr), repeat(2, 1fr), 80vh)
    }
}

.grid-reserva-1{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
    color: white;
}

.grid-reserva-2{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
    color: white;
}